*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
body{
    background-color: #c3c3c3;
    flex-direction: column;
    min-height: 100%;
}

.container-grid{
    
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative
}

.menu{
    width: 150px; 
    height: 60px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.menu button {
    text-decoration: none;
    background-color: #c3c3c3;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 80px;
    height: 30px;
    border: 0;
    cursor: pointer;
}
.menu button:hover {
    color: black;
}
.linha{
   height: 100%;
   width: 200px;
   font-size: 30px;
   background-color: white;
   position: fixed;
   top: 0;
   right: -20rem;
   position: absolute;
   top: 20%;
   display: none;
}
.linha button{
    text-decoration: nome;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
    cursor: pointer;
}

.linha.show-menu{
    right: 0;
    display: block;
    
}
.input{
    left: 90%;
}
.banner{
    background-image: url(imagens/image1.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.texto-banner{
    color: white;
}
.texto-banner h1{
    text-align: center;
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
}
.texto-banner p{
    text-align: center;
    font-size: 26px;
    
}
.posicao-texto{
    justify-content: center;
    align-items: center;
    height: 350px;
    font-size: 35px;
}
.fotos{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 5vw);
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    background-color: #c3c3c3;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #c3c3c3;
}
.gallery__item--1 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
}
.gallery__item--2 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 6;
}
.gallery__item--3 {
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 2;
    grid-row-end: 6;
}
.gallery__item--4 {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 11;
}
.gallery__item--5 {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 7;
    grid-row-end: 11;
}
.gallery__item--6 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 17;
}
.gallery__item--7 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start:12;
    grid-row-end: 17;
}
.gallery__item--8 {
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 12;
    grid-row-end: 17;
}
.text1{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
    text-align: center;
    font-size: 47px;
    text-transform: uppercase;
}
.text2{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 6;
    text-align: center;
    font-size: 47px;
    text-transform: uppercase;
}
.text3{
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 6;
    grid-row-end: 6;
    text-align: center;
    font-size: 47px;
    text-transform: uppercase;
}
.text4{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 17;
    grid-row-end: 17;
    text-align: center;
    font-size: 47px;
    text-transform: uppercase;
}
.text5{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 17;
    grid-row-end: 17;
    text-align: center;
    font-size: 47px;
    text-transform: uppercase;
}
.text6{
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 17;
    grid-row-end: 17;
    text-align: center;
    font-size: 47px;
    text-transform: uppercase;
    color: black;
}

.rodape{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 4vw);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    background-color: #c3c3c3;
 }
 .col1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
 }
 .col4{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    cursor: pointer;
 }
 .tele_img{
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 20px;
 }
 